<% include ../partials/header %>

<head>
  <meta charset="utf-8" />
  <title>Upload images to server using Node JS</title>
  <script src="Scripts/jquery-3.1.1.min.js"></script>
  <script src="Scripts/jquery.form.min.js"></script>
  <script>
      $(document).ready(function () {
          var options = {
              beforeSubmit: showRequest,  // pre-submit callback
              success: showResponse  // post-submit callback
          };

          // bind to the form's submit event
          $('#frmUploader').submit(function () {
              $(this).ajaxSubmit(options);
              // always return false to prevent standard browser submit and page navigation
              return false;
          });
      });

      // pre-submit callback
      function showRequest(formData, jqForm, options) {
          alert('Uploading is starting.');
          return true;
      }

      // post-submit callback
      function showResponse(responseText, statusText, xhr, $form) {
          alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
      }
  </script>
</head>
<body>
<form id="frmUploader" enctype="multipart/form-data" action="<%= story._id %>/api/Upload/" method="post">
  <input type="file" name="imgUploader" multiple />
  <input type="submit" name="submit" id="btnSubmit" value="Upload" />
  <p>Bildtext:</p>
  <input class="form-control" type="text" name="description" id="description" placeholder="Das beste was man im Stadtpark unternehmen kann">
  <P>Bildnummer:</P>
   <input class="form-control" type="number" name="picture_nr" id="picture_nr" placeholder="Order of picture number">
</form>
</body>

<p> Bild 1 </p>
<img src= "<%=story.image1 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 2 </p>
<img src= "<%=story.image2 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 3 </p>
<img src= "<%=story.image3 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 4 </p>
<img src= "<%=story.image4 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 5 </p>
<img src= "<%=story.image5 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 6 </p>
<img src= "<%=story.image6 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 7 </p>
<img src= "<%=story.image7 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 8 </p>
<img src= "<%=story.image8 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 9 </p>
<img src= "<%=story.image9 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 10 </p>
<img src= "<%=story.image10 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 11 </p>
<img src= "<%=story.image11 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 12 </p>
<img src= "<%=story.image12 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 13 </p>
<img src= "<%=story.image13 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 14 </p>
<img src= "<%=story.image14 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 15 </p>
<img src= "<%=story.image15 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 16 </p>
<img src= "<%=story.image16 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 17 </p>
<img src= "<%=story.image17 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 18 </p>
<img src= "<%=story.image18 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 19 </p>
<img src= "<%=story.image19 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>

<p> Bild 20 </p>
<img src= "<%=story.image20 %>"  class="img" height="150" width="150" alt="Avatar">
<p> <%=story.desc1 %> </p>





<div class="row">
  <div class="col-md-3">
    <div class="list-group">
    </div>
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= story.image %>">
      <div class="caption-full">
        <h4 class="pull-right">
          $<%= story.cost %>/night
        </h4>
        <h4><a><%=story.name%></a></h4>
        <p><%= story.description %></p>
        <p>
          <em>Submitted by: <a href="/users/<%= story.author.id %>"><%= story.author.username %></a>, <%= moment(story.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser && story.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/stories/<%= story._id %>/edit">Edit</a>
        <form action="/stories/<%= story._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
  
 
  
  </div>
</div>
</div>
